#
#ASAP_JWT_AUD='jitsi-component-selector'

#
#ASAP_JWT_ISS='jitsi-component-sidecar'

# (required)
ASAP_JWT_KID=

# The private key file that will be used for creating jwt tokens to connect to the selector component (required)
ASAP_SIGNING_KEY_FILE=

# The component type that is served by this sidecar (required)
COMPONENT_TYPE=

#
#ENABLE_STOP_INSTANCE=true

# The environment name #TODO used for? (required)
ENVIRONMENT=

#
#HOSTNAME=''

#
#INSTANCE_ID=''

# #TODO ???? (required)
INSTANCE_KEY=

#
#INSTANCE_METADATA='{}'

#
#INSTANCE_NICK='jibri'

#
#LOG_LEVEL=info

#
#PORT=8017

# The region where this sidecar is running #TODO used for? (required)
REGION=

#
#REQUEST_RETRY_COUNT=2

#
#REQUEST_TIMEOUT_MS=8000

#
#SIP_CLIENT_PASSWORD=''

#
#SIP_CLIENT_USERNAME=''

#
#START_INSTANCE_URL=''

#
#STATS_POLLING_INTERVAL=30

#
#STATS_REPORTING_INTERVAL=30

#
#STATS_RETRIEVE_URL=''

#
#STOP_INSTANCE_URL=''

#
#VOLATILE_EVENTS=true

#
#WS_SERVER_PATH='/jitsi-component-selector/ws'

#
#WS_SERVER_URL='ws://localhost:8015'
